language: php

php:
  - 7.4

install:
  - travis_retry composer install -vvv --no-interaction --no-suggest

script:
  - composer unit

after_success:
  - bash <(curl -s https://codecov.io/bash)

branches:
  only:
    - master
    - dev
